@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-image: url(./images/fabio-oyXis2kALVg-unsplash.jpg);
  color: white;
  font-family: "poppins", sans-serif;
  padding: 40px 40px;
  font-size: 15px;
}
div {
}
.web-security-question,
.web-security-answer {
  border: 1px solid red;
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  margin: 5px;
}
.web-security-answer {
  width: 45%;
  padding-right: 60px;
  float: right;
}
.websec {
  border: 1px solid gold;
  border-radius: 10px;

  padding: 10px;
  width: 50%;
}
